.bg-dark {
  border-radius: 10px;
  margin: 18px 0px 0px 10px !important;
}
.setColor {
  color: #5c848e !important;
}
.dashboardSvg {
  width: 30px;
}
.nav-link:focus,
.nav-link:hover {
  color: #e0e0ec !important;
}
.fs-5 {
  color: #decdc3 !important;
}

.subLinkContent {
  margin-left: 20px;
}
.sublink_text {
  color: #5c848e;
  cursor: pointer;
}
.sublink_text:hover {
  color: #e0e0ec;
}
